In [2]:
fruitlist=['apple','mango','banana','pineapple']
fruitlist

['apple', 'mango', 'banana', 'pineapple']

In [3]:
type(fruitlist)

list

In [4]:
#Selecting one value using index
print('fruitlist[0] is :', fruitlist[0])

fruitlist[0] is : apple

In [5]:
#Selecting multiple values using index
print('Complete fruitlist is ', fruitlist[0:])

Complete fruitlist is  ['apple', 'mango', 'banana', 'pineapple']

In [6]:
#Changing last index of list
fruitlist[-1]='strawberry'

fruitlist #Updated list

['apple', 'mango', 'banana', 'strawberry']

In [7]:
#Changing multiple values in list
fruitlist[1:3]=["orange"]
fruitlist  #Updated list

['apple', 'orange', 'strawberry']

In [8]:
#Change multiple values in list
fruitlist[0:2]=['orange','orange']
fruitlist  #Updated list

['orange', 'orange', 'strawberry']

In [9]:
fruitlist.append('banana') #Added new value in list
fruitlist  #Updated list

['orange', 'orange', 'strawberry', 'banana']

In [10]:
#Deleting element by value
del fruitlist[0]
fruitlist #Updated list

['orange', 'strawberry', 'banana']

In [11]:
#Deleting element by value
fruitlist.remove('banana')
fruitlist #Updated list

['orange', 'strawberry']

In [12]:
List=['Hello','python']
List*2 #Repeatation of list

['Hello', 'python', 'Hello', 'python']

In [13]:
lista =['hello','python','Sabudh','datascience']
# Checking if any value exists in list or not
'Sabudh' in lista

True

In [14]:
#Concatenating two lists
List1 = [1,2,3,4]
List2 = [5,6,7,8,9]
print(List + lista)
print(List1 + List2)

['Hello', 'python', 'hello', 'python', 'Sabudh', 'datascience']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#finding lenth of list
len(List1)

4

In [16]:
tup1=('hello','world','welcome','123') #new tuple
print(tup1)

('hello', 'world', 'welcome', '123')

In [17]:
tup1[1] #Selecting element of tuple at index 1

'world'

In [18]:
del tup1 # deleting tuple

In [19]:
tup1

NameError: name 'tup1' is not defined

In [20]:
tup2=('rock','the','party') #new tuple
tup2

('rock', 'the', 'party')

In [21]:
tup2*4  #repeatation of tuple

('rock',
 'the',
 'party',
 'rock',
 'the',
 'party',
 'rock',
 'the',
 'party',
 'rock',
 'the',
 'party')

In [22]:
len(tup2)  #length of tuple

3

In [23]:
tup3=(212,233)  # new tuple
tup2 + tup3 # concatenating tuples

('rock', 'the', 'party', 212, 233)

In [24]:
PersonalInfo={'Name ':'Amanjot','Age':24,'School':'D.A.V'}  # Defining new dictionary
PersonalInfo

{'Name ': 'Amanjot', 'Age': 24, 'School': 'D.A.V'}

In [25]:
PersonalInfo['Age']  #Printing single key value in dictionary

24

In [26]:
PersonalInfo['School']='GHPS' # Updating existing entry in dictionary
PersonalInfo #Updated Dictionary

{'Name ': 'Amanjot', 'Age': 24, 'School': 'GHPS'}

In [27]:
del PersonalInfo['Age']  #Deleting key with name 'Age' from Dictionary
PersonalInfo #Updated Dictionary

{'Name ': 'Amanjot', 'School': 'GHPS'}

In [28]:
PersonalInfo.clear() # Clear all data in Dictionary
PersonalInfo #Updated Dictionary

{}

In [29]:
del PersonalInfo #Deleting entire dictionary
PersonalInfo #Checking for the existence of dictionary

NameError: name 'PersonalInfo' is not defined

In [30]:
dict1={'Name ':'Amanjot','Age':24,'School':'D.A.V'}  # Defining new dictionary
dict1.keys()  #Accessing the keys of dictionary

dict_keys(['Name ', 'Age', 'School'])

In [31]:
list(dict1.keys()) # Converting dictionary to list

['Name ', 'Age', 'School']

In [32]:
dict1.values()  #Accessing the values of dictionary

dict_values(['Amanjot', 24, 'D.A.V'])

In [33]:
dict1.items() #Items of dictionary

dict_items([('Name ', 'Amanjot'), ('Age', 24), ('School', 'D.A.V')])

In [34]:
list(dict1.items())#Converting items of the

[('Name ', 'Amanjot'), ('Age', 24), ('School', 'D.A.V')]

In [35]:
import collections
print('Ordered Dictionary :')
a = collections.OrderedDict()
a['a']='Aman'
a['b']='Bepasha'
a['c']='Chetna'
a['d']='Divya'

for k,v in a.items():
    print('Keys:',k,' and Values :' , v)

Ordered Dictionary :
Keys: a  and Values : Aman
Keys: b  and Values : Bepasha
Keys: c  and Values : Chetna
Keys: d  and Values : Divya

In [36]:
Days=set(['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'] ) #Defining a new setand

In [37]:
type({'mon','tue'})

set

In [38]:
type(Days)

set

In [39]:
for d in Days:
    print(d)

Tuesday
Wednesday
Friday
Thursday
Monday
Saturday
Sunday

In [40]:
Days.discard('Sunday') #Removing particular value from set
Days

{'Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday'}

In [41]:
Days.add('Sunday') #Adding new value to set
Days #Updated set

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [42]:
Month={'January','February','March','Friday'}
UnionSet=Days|Month #Union of two sets
UnionSet

{'February',
 'Friday',
 'January',
 'March',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday'}

In [43]:
IntersectionSet = Days & Month #Intersection of two sets
IntersectionSet

{'Friday'}

In [44]:
DiffSet = Days - Month #Difference of sets
DiffSet

{'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [45]:
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] #Defining a list
NewList= old_list # Copying list
NewList

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
old_list.append([4,4,4])
print(old_list)
print(NewList)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4]]

In [47]:
NewList.append([2,2,2])
print(old_list)
print(NewList)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4], [2, 2, 2]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4], [2, 2, 2]]

In [53]:
#Shallow copy
import copy

new_list = copy.copy(old_list)
old_list.append([2,4,5])
print('Old list :',old_list)
print('New list :',new_list)

Old list : [[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4], [2, 2, 2], [2, 4, 5], [2, 4, 5], [2, 4, 5]]
New list : [[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4], [2, 2, 2], [2, 4, 5], [2, 4, 5]]

In [54]:
#Deep copy
import copy

newList1 = copy.deepcopy(old_list) #Deep copy
old_list[1]=[7,5,3]  #Changing any index value in old list does not reflect the change in new list 
print('Old List :',old_list)
print('New List:', newList1)

Old List : [[1, 2, 3], [7, 5, 3], [7, 8, 9], [4, 4, 4], [2, 2, 2], [2, 4, 5], [2, 4, 5], [2, 4, 5]]
New List: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4], [2, 2, 2], [2, 4, 5], [2, 4, 5], [2, 4, 5]]

In [57]:
print('Id of element at index 1 in Old List :',id(old_list))
print('Id of element at index 1 in New List :',id(newList1))

Id of element at index 1 in Old List : 2951928298568
Id of element at index 1 in New List : 2951928297992