Data Input and Output

In [34]:
import pandas as pd

In [35]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [36]:
df=pd.read_csv('example.csv')

In [37]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [38]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

C:\Users\Aman\Anaconda3\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

XLRDError: No sheet named <'Sheet1'>

In [39]:
df.to_excel('Excel_Sample.xlsx',sheet_name='NewSheet')

In [40]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [41]:
df[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","June 18, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","July 24, 2019"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"

In [42]:
#Read Sql files

In [43]:
from sqlalchemy import create_engine

In [44]:
engine=create_engine('sqlite:///:memory:')

In [48]:
df.to_sql('data', engine)

AttributeError: 'list' object has no attribute 'to_sql'

In [49]:
sql_df = pd.read_sql('data',con=engine)

OperationalError: (sqlite3.OperationalError) near "data": syntax error
[SQL: data]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [47]:
sql_df

NameError: name 'sql_df' is not defined