In [1]:
var1=1
var2=10
print(var1,var2)

1 10

In [2]:
var1

1

In [3]:
x= 3546
type(x)

int

In [5]:
x= 6.81332313
type(x)

float

In [6]:
x=  5+3313123j
type(x)

complex

In [7]:
x=3243423.24242+1231231.12312j
type(x)

complex

In [8]:
var1='Hello world'
type(var1)

str

In [10]:
var1[4]

'o'

In [12]:
var1[1:6]

'ello '

In [13]:
var1[:6]

'Hello '

In [14]:
var1[:13]

'Hello world'

In [17]:
var1[:6]+'Aman'

'Hello Aman'

In [19]:
print ('My name is %s and my age is %d' %('Aman',24))

My name is Aman and my age is 24

In [20]:
print(var1)

Hello world

In [21]:
var1[::]

'Hello world'

In [22]:
var1[-1]

'd'

In [24]:
var1[:-1]

'Hello worl'

In [25]:
var1[::-1]

'dlrow olleH'