In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [4]:
#Creating Series using List
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
#Creating Series using Arrays
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [9]:
#Creating Series using Dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
#Different data in Series
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [11]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [12]:
Ser1=pd.Series([1,2,3,4],index=['USA','Japan','USSR','Germany'])

In [13]:
Ser1

USA        1
Japan      2
USSR       3
Germany    4
dtype: int64

In [14]:
Ser2=pd.Series([1,2,3,4],index=['USA','Japan','Italy','Germany'])

In [15]:
Ser2

USA        1
Japan      2
Italy      3
Germany    4
dtype: int64

In [17]:
Ser2['USA']

1

In [18]:
Ser1+Ser2

Germany    8.0
Italy      NaN
Japan      4.0
USA        2.0
USSR       NaN
dtype: float64